# Gradle files
.gradle/
build/

# IntelliJ IDEA files
.idea/
*.iml
*.iws
*.ipr
out/

# Android Studio files
captures/
.externalNativeBuild/
.cxx/
local.properties

# Kotlin files
.kotlin/

# OS files
.DS_Store
Thumbs.db
